<div class="agency-page" *ngIf="content">
  <app-header [pageTitle]="pageTitle" [url]="'/lang/agency'"></app-header>
  <div class="level1">
    <img class="logo" src="./assets/logo-light.svg" alt="" />
    <h2>{{content.title}}</h2>
  </div>
  <div class="level2">
    <img class="neck" [src]="'./assets/' + content.mainImg" alt="" />
    <p>{{content.desc1}}</p>
  </div>
  <div class="level3">
    <div class="item">
      <h6>{{content.skills.title}}</h6>
      <div class="service-item" *ngFor="let s of content.skills.skills">{{s}}</div>
    </div>
    <div class="item">
      <h6>{{content.passion.title}}</h6>
      <p class="mission">{{content.passion.desc}}</p>
      <br />
    </div>
  </div>
  <div class="level4">
    <img [src]="'./assets/' + content.lines" alt="" />
    <p [class.active]="isParagraphActive">{{content.desc2}}</p>  </div>
  <div class="level5">
    <p>{{content.desc3}}</p>
  </div>

  <div class="level6">
    <div>
      <h6>{{content.origin.title}}</h6>
      <p>{{content.origin.desc}}</p>
    </div>
  </div>
  <div class="level7">
    <h6>Core Team</h6>
    <div>
      <section class="item" *ngFor="let t of content.team.team">
        <h4>{{t.name}}</h4>
        {{t.title}}
      </section>
    </div>
  </div>
  <app-footer></app-footer>
  <div class="circle2" [@fadeInOut] *ngIf="isCircleVisible">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<div class="overlay-mobi dark" [@slide]="!isOverlayVisible">
  <div class="lang">
    <a href="javascript:void(0)" class="active">&nbsp;En&nbsp;</a>
    <a [routerLink]="'/lang/agency'">&nbsp;Fr&nbsp;</a>
  </div>
  <nav>
    <ul>
      <li><a [routerLink]="'/projects'">Projects</a></li>
      <li><a [routerLink]="'/agency'">The Agency</a></li>
      <li><a [routerLink]="'/contact'">Contact</a></li>
    </ul>
  </nav>
</div>
