<app-headersec pageTitle="{{pageTitle}}" url="/projects"></app-headersec>
<main class="projects-page">
    <img src="./assets/logo-dark.svg" alt="" class="logo" />
    <app-projectlist-sec></app-projectlist-sec></main>
<app-footersec></app-footersec>
<div class="overlay-mobi">
    <div class="lang">
      <a routerLink="/projects">&nbsp;En&nbsp;</a>
      <a href="javascript:void(0)" class="active">&nbsp;Fr&nbsp;</a>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/lang/projects">Projets</a></li>
        <li><a routerLink="/lang/agency">L'Agence</a></li>
        <li><a routerLink="/lang/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
