<header>
  <div class="back"></div>
  <div class="logo" *ngIf="pageTitle === 'home' && content">
    <img src="./assets/logo-dark.svg" alt="" class="logo" />
    &nbsp;&nbsp;&mdash;&nbsp;&nbsp;{{content.title}}
  </div>
  <div class="logo" *ngIf="pageTitle !== 'home' && content">
    <img routerLink="/" src="./assets/logo-dark.svg" alt="" class="logo" />
    <div class="page-title">&nbsp;&nbsp;&mdash;&nbsp;&nbsp;{{pageTitle}}<br />&nbsp;&nbsp;&mdash;&nbsp;&nbsp;Home</div>
  </div>
  <div class="lang" *ngIf="content">
    <a href="javascript:void(0)" class="active">&nbsp;En&nbsp;</a>
    <a routerLink="{{url}}">&nbsp;Fr&nbsp;</a>
  </div>
  <nav [class.visible]="isOverlayVisible" *ngIf="content">
    <ul>
      <li><a class="{{pageTitle === 'Projects' ? 'active' : ''}}" routerLink="/projects">{{content.projects}}</a></li>
      <li><a class="{{pageTitle === 'The Agency' ? 'active' : ''}}" routerLink="/agency">{{content.agency}}</a></li>
      <li><a class="{{pageTitle === 'Contact' ? 'active' : ''}}" routerLink="/contact">{{content.contact}}</a></li>
    </ul>
  </nav>
  <div class="btn-menu" *ngIf="content" (click)="toggleMobi()">
    <span class="hamburger-icon">
      &#9776; <!-- Commonly used character for hamburger menu -->
    </span>  </div>
    <div class="overlay-mobi" *ngIf="isOverlayVisible">
      <ul class="mobile-menu-list">
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/projects">Projects</a></li>
      <li><a routerLink="/agency">The Agency</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <!-- More navigation items as needed -->
    </ul>  </div>
</header>
