<header>
  <div class="back"></div>
  <div class="logo" *ngIf="pageTitle === 'home' && content">
    <img src="./assets/logo-dark.svg" alt="" class="logo" />
    &nbsp;&nbsp;&mdash;&nbsp;&nbsp;{{content.title}}
  </div>
  <div class="logo" *ngIf="pageTitle !== 'home' && content">
    <img routerLink="/" src="./assets/logo-dark.svg" alt="" class="logo" />
    <div class="page-title">&nbsp;&nbsp;&mdash;&nbsp;&nbsp;{{pageTitle}}<br />&nbsp;&nbsp;&mdash;&nbsp;&nbsp;Home</div>
  </div>
  <div class="lang" *ngIf="content">
    <a href="javascript:void(0)" class="active">&nbsp;En&nbsp;</a>
    <a routerLink="{{url}}">&nbsp;Fr&nbsp;</a>
  </div>
  <nav [class.visible]="isOverlayVisible" *ngIf="content">
    <ul>
      <li><a class="{{pageTitle === 'Projects' ? 'active' : ''}}" routerLink="/projects">{{content.projects}}</a></li>
      <li><a class="{{pageTitle === 'The Agency' ? 'active' : ''}}" routerLink="/agency">{{content.agency}}</a></li>
      <li><a class="{{pageTitle === 'Contact' ? 'active' : ''}}" routerLink="/contact">{{content.contact}}</a></li>
    </ul>
  </nav>
  <div class="btn-menu" *ngIf="content" (click)="toggleMobi()">
    <span> {{ content.menu }}<br /> </span>
  </div>

  <div
    class="overlay-mobi"
    [class.visible]="isOverlayVisible"
    *ngIf="isOverlayVisible"
  >

  <a   href="javascript:void(0)" style="text-decoration: underline;">&nbsp;En&nbsp;</a>
  <a routerLink="{{ url }}" class="active" >&nbsp;Fr&nbsp;</a>
    <div style="float: right">
      <span   *ngIf="isOverlayVisible" (click)="toggleMobi()">
        &#10006; {{ content.close }}
      </span>
    </div>
    <br />
    <ul class="mobile-menu-list" style="margin-top: 60px;">
      <li style="padding: 19px;list-style: none; font-weight: bolder;font-size: xx-large;"><a routerLink="/lang">Home</a></li>
      <li style="padding: 19px;font-size: larger;list-style: none;font-weight: bolder;font-size: xx-large;"><a routerLink="/projects">Projects</a></li>
      <li style="padding: 19px;font-size: larger;list-style: none;font-weight: bolder;font-size: xx-large;"><a routerLink="/agency">The Agency</a></li>
      <li style="padding: 19px;font-size: larger;list-style: none;font-weight: bolder;font-size: xx-large;"><a routerLink="/contact">Contact</a></li>
    </ul>
  </div>
</header>
