<header>
  <div class="back"></div>

  <div class="logo" *ngIf="pageTitle === 'home' && content">

    <img src="./assets/logo-dark.svg" alt="" class="logo" />
    &nbsp;&nbsp;&mdash;&nbsp;&nbsp;{{content.title}}
    </div>
  <div class="logo" *ngIf="pageTitle !== 'home' && content">
      <img routerLink="/lang"  src="./assets/logo-dark.svg" alt="" />
      <div class="page-title">&nbsp;&nbsp;&mdash;&nbsp;&nbsp;{{pageTitle}}<br />&nbsp;&nbsp;&mdash;&nbsp;&nbsp;Home</div>
  </div>
  <div class="lang" *ngIf="content">
      <a routerLink="{{url}}">&nbsp;{{content.lang1}}&nbsp;</a>
      <a href="javascript:void(0)" class="active">&nbsp;{{content.lang2}}&nbsp;</a>
  </div>
  <nav *ngIf="content">
    <ul>
      <li><a routerLink="/lang/projects" routerLinkActive="active">{{content.projects}}</a></li>
      <li><a routerLink="/lang/agency" routerLinkActive="active">{{content.agency}}</a></li>
      <li><a routerLink="/lang/contact" routerLinkActive="active">{{content.contact}}</a></li>
    </ul>
  </nav>
  <div class="btn-menu" *ngIf="content">
      <a href="javascript:void(0)" >{{content.menu}}<br />{{content.close}}</a>
  </div>
</header>
